/* depoimentos */

.depoimentos h3,
.depoimentos p {
    text-align: center;
    margin-bottom: 10px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.depoimentos .card-item {
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    height: auto;
    transition: 0.3s;
    cursor:  pointer;
}
/* fazendo com a img fique redonda, pequena e cabendo no card */
.depoimentos .card-item img {
    border-radius: 100%;
    width:80px;
    display: block;
    margin: 10px auto;
}


.depoimentos .card-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.depoimentos .card-item .depoimento-user {
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.depoimentos .card-item .star {
    margin: 15px 0;
    padding-top: 4px;
    border-top: 2px solid #71767a23;
}

.depoimentos .card-item .star i {
    color: #4f9cf9;
    margin-top: 15px;
    font-size: 20px;
    transition: 0..3s;
}

 .depoimentos .card-item:hover {
    background-color: #4f9cf9;
    transform: translateY(-10px);
} 

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .star i {
    color: white;
} 